[Unit]
Description=The FastCGI socket

[Socket]
SocketUser = apache
SocketGroup = apache
SocketMode = 0660
ListenStream = /var/run/php-fsgi.sock

[Install]
WantedBy=multi-user.target
